/* Global variables */
:root {
    /* Colors */
    --main-black-background: #222725;
    --main-white-background: #FFFBFE;
    --main-grey: #CECCCC;
    --secondary-grey: #57737A;
    --main-yellow: #ffa42d;
    --main-pink: #af3fac;
    --main-blue: #1B264F;
    --text-black: #000000;
    --text-white: #FFFBFE;
    /* Fonts types*/
    --main-font: 'Roboto', sans-serif;
    --main-heading-font: 'Raleway', sans-serif;
    /* Font sizes */
    --h1-heading-size: 3em;
    --h2-subheading-size: 2em;
    --h3-subheading-size: 1.5em;
    --p-body-size: 1em;
}

/* Remove inbuilt padding and margin */
* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    list-style: none;
    scroll-behavior: smooth;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

/* Remove scrollbar space */
::-webkit-scrollbar {
    width: 0px;
}

/* default styling for h1, h2 and <p> elements */
h1 {
    font-size: var(--h1-heading-size);
}

h2 {
    font-size: var(--h2-subheading-size);
}

p {
    font-size: var(--p-body-size);
}

/* --SITE WRAPPER--- */
.site-wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "home"
        "about"
        "projects"
        "skills"
        "contact";

}

/* ----------HEADER WITH NAVIGATION---------- */
header {
    grid-area: header;
}

/* place nav items in flexbox */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-white-background);
    padding: 2em;
}

/* style nav items */
.nav a {
    text-decoration: none;
    color: var(--text-black);
    font-family: var(--main-font);
    font-weight: 300;
    font-size: var(--h2-subheading-size);
}


.nav a {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}

@media screen and (max-width: 667px) {
    .nav a {
        font-size: 1.2em;
        justify-content: space-between;
    }

    .nav {
        padding: 0.5em;
        padding-top: 2em;
    }
}


/* NAVIGATION TOGGLE */
.nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3vw;
}

.toggle-up a,
.toggle-down a {
    font-size: var(--h2-subheading-size);
    font-weight: 600;
    text-decoration: none;
}

.toggle-down {
    transform: rotate(180deg);
    align-self: flex-start;
}

.toggle-up a:hover,
.toggle-down a:hover {
    background-color: #FF715B;
}

/* ----------HOME---------- */
.home {
    grid-area: home;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-white-background);
}


/* Make the homepage art svg take up the whole container */
.home-art-container {
    width: 100%;
    margin: 0 auto;

}

/* Required to make image fluid in IE */
.main-img:not(.png) {
    width: 100%;
}

.main-img {
    padding-top: 3rem;
}

.mobile-img {
    display: none;
}

@media screen and (max-width: 667px) {
    .main-img {
        display: none;
    }

    .mobile-img {
        display: inline;
        padding-top: 30%;
    }

    .mobile-img:not(.png) {
        width: 100%;
    }
}

/* ----------ABOUT---------- */
.about {
    background-color: var(--main-black-background);
    grid-area: about;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: max-content, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 0.5fr, 0.5fr, 1fr, 1fr, 0.5fr;
    grid-template-areas:
        "h . . . ."
        "h s s s ."
        "h bd bd bd bd "
        "h . . bx bx"
        "h . . . n";

    overflow: hidden;
}

.about-header {
    color: var(--text-white);
    font-family: var(--main-font);
    font-weight: 400;
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-self: center;
    padding: 2vw;
    grid-area: h;
}

.about-subheading {
    color: var(--text-white);
    font-size: 1.2em;
    font-family: var(--main-font);
    font-weight: 400;
    padding-top: 2em;
    padding-bottom: 0.5em;
    align-self: end;
    grid-area: s;
}

.about-body {
    color: var(--text-white);
    font-family: var(--main-font);
    font-weight: 400;
    padding-right: 3vw;
    padding-bottom: 1em;
    grid-area: bd;
}

.about-box {
    margin: 3vw;
    grid-area: bx;
    margin-bottom: 2em;
}

#about-box-text {
    color: var(--text-white);
    font-family: var(--main-font);
    font-weight: 400;
    display: inline-block;
    border: 3px solid #FFFBFE;
    padding: 0.5em;
}

.about-nav {
    grid-area: n;
    justify-self: end;
    align-self: flex-end;
}

.toggle-a a {
    color: var(--text-white);
}



@media screen and (max-width: 667px) {
    .about-header {
        align-self: start;
        padding-top: 10vw;
    }

    .about {
        grid-template-columns: 0.5fr, 1fr, 1fr, 1fr, 1fr;
        grid-template-rows: 0.5fr, 0.5fr, 1fr, 1fr, 0.5fr;
        grid-template-areas:
            "h . . . ."
            "h s s s ."
            "h bd bd bd bd "
            "h . bx bx bx"
            "h . . . n";
    }
}

/* ----------PROJECTS---------- */
.projects {
    grid-area: projects;
    min-height: 100vh;
    min-width: 100vw;
    background: url(./assets/proj-background2.svg) no-repeat;
    background-position: center center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 0.1fr;
    grid-template-areas:
        "ph ph "
        "p1 . "
        "p2 . "
        "p3 . "
        ". pn";
}

.projects-heading-container {
    grid-area: ph;
    justify-self: end;
    padding-right: 3vw;
    padding-top: 3vw;
}

.project1 {
    grid-area: p1;
    padding: 2em;
}

.project2 {
    grid-area: p2;
    padding: 2em;
}

.project3 {
    grid-area: p3;
    padding: 2em;
}

.circle {
    width: 5vw;
    height: 5vw;
    background-color: var(--main-blue);
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin-right: 0.8em;
}

#circle1:hover {
    background-color: #2FBC70;
}

#circle2:hover {
    background-color: #C04CFD;
}

#circle3:hover {
    background-color: #FF715B;
}

.projects-nav {
    grid-area: pn;
    justify-self: end;
    align-self: flex-end;
}

.proj-nav {
    color: var(--text-black);
}



@media screen and (max-width: 667px) {
    .projects {
        background: none;
        background-color: var(--main-white-background);
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 0.1fr, 1fr, 1fr, 1fr, 1fr, 0.1fr;
        grid-template-areas:
            ". . ."
            "ph ph ph "
            "p1 p1 p1"
            "p2 p2 p2"
            "p3 p3 p3"
            ". . pn";
    }

    .projects-heading-container {
        justify-self: center;
        padding-right: none;
    }
}


/* ----------SKILLS---------- */
.skills {
    grid-area: skills;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-black-background);
    display: grid;
    grid-template-columns: 2em 1fr max-content 1fr 1fr 7vw;
    grid-template-rows: 0.5fr 0.5fr max-content 1fr 0.5fr 7vw;
    grid-template-areas:
        ". h h h . rs"
        ". . . . . rs"
        ". f . b . rs"
        ". o o s . rs"
        ". . . .  sn rs"
        "rb rb rb rb rb rs";
}

.skills-heading {
    grid-area: h;
    color: var(--text-white);
    padding-top: 2em;
    padding-bottom: 2em;
    align-self: center;
}

.skills-front {
    grid-area: f;
    color: var(--text-white);
}

.skills-back {
    grid-area: b;
    color: var(--text-white);
    justify-self: end;
    margin-right: 1em;
}

.skills-other {
    grid-area: o;
    color: var(--text-white);
    margin-right: 0.2em;
    justify-self: end;
}

.square {
    grid-area: s;
    width: 150px;
    height: 150px;
    background-color: var(--main-yellow);
    margin-right: 1em;
    justify-self: end;
}

@media screen and (max-width: 667px) {
    .square {
        width: 125px;
        height: 125px;
    }
}

.square:hover {
    background-color: #c916c0;
}

.rectangle-side {
    grid-area: rs;
    margin: 0;
    background-color: var(--main-grey);
    margin: -1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.rectangle-bottom {
    grid-area: rb;
    margin: 0;
    background-color: var(--main-grey);
    margin: -1px;
}

.skills-nav {
    grid-area: sn;
}

.skil-nav {
    color: var(--text-white);
}

@media screen and (max-width: 667px) {
    .skills {
        grid-template-columns: 2em 1fr max-content 1fr 1fr 10vw;
        grid-template-rows: 0.5fr 0.5fr max-content 1fr 0.5fr 10vw;
    }
}


/* ----------CONTACT---------- */
.contact {
    grid-area: contact;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-white-background);
    display: grid;
    grid-template-columns: 1.3fr 0.2fr max-content 1.5fr;
    grid-template-rows: 1fr 2fr max-content 1fr;
    grid-template-areas:
        ". . . ."
        "h h cf ."
        ". . ic ."
        ". . . cn";
}

.contact-heading-mobile {
    display: none;
}

.contact-form {
    grid-area: cf;
    display: flex;
    flex-direction: row;
    width: 550px;
    /* margin: 0 auto; */
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.msg {
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 48%;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}


.msg textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c5ecfd;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #c5ecfd;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #c5ecfd;
}

.btn {
    display: inline-block;
    background: var(--main-yellow);
    width: 109%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 667px) {
    .contact-form {
        flex-direction: column;
        width: 200px;
    }

    .msg textarea {
        height: 80px;
    }

    .input-fields,
    .msg {
        width: 100%;
    }
}

@media screen and (max-width: 374px) {
    .contact {
        grid-template-columns: 1.3fr 0.2fr max-content 1.5fr;
        grid-template-rows: 1fr 2fr max-content 1fr;
        grid-template-areas:
            ". . mh ."
            ". . cf ."
            ". . ic ."
            ". . . .";
    }

    .contact-heading {
        display: none
    }

    .contact-heading-mobile {
        display: block;
        grid-area: mh;
        justify-self: center;
        align-self: flex-end;
    }

}


.contact-heading {
    grid-area: h;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    align-self: center;
}

.icon-container {
    grid-area: ic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linkdin-container,
.github-container,
.codepen-container {
    width: 4em;
    padding-top: 2em;
}


.linkdin-img:hover,
.github-img:hover,
.codepen-img:hover {
    transform: scale(1.3);
    transition: .25s ease-in;
}

.contact-nav {
    grid-area: cn;
    justify-self: end;
}

.con-nav {
    color: var(--text-black);
}