/* Global variables */
:root {
    /* Colors */
    --main-black-background: #222725;
    --main-white-background: #FFFBFE;
    --red-line: #FF525A;
    --text-black: #000000;
    --text-white: #FFFBFE;
    /* Fonts types*/
    --main-font: 'Roboto', sans-serif;
    --main-heading-font: 'Raleway', sans-serif;
    /* Font sizes */
    --h1-heading-size: 3em;
    --h2-subheading-size: 2em;
    --h3-subheading-size: 1.5em;
    --p-body-size: 1em;
}

/* Remove inbuilt padding and margin */
* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    list-style: none;
    scroll-behavior: smooth;
}

/* default styling for h1, h2 and <p> elements */
h1 {
    font-size: var(--h1-heading-size);
}

h2 {
    font-size: var(--h2-subheading-size);
}

p {
    font-size: var(--p-body-size);
}

/* --SITE WRAPPER--- */
.site-wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "home"
        "about"
        "projects"
        "skills"
        "contact";

}

/* ----------HEADER WITH NAVIGATION---------- */
header {
    grid-area: header;
}

/* place nav items in flexbox */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-white-background);
}

/* style nav items */
.nav a {
    text-decoration: none;
    color: var(--text-black);
    font-family: var(--main-font);
    font-weight: 300;
    font-size: var(--h3-subheading-size);
}

/* ----------HOME---------- */
.home {
    grid-area: home;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-white-background);
}

/* Make the homepage art svg take up the whole container */
.home-art-container {
    width: 100%;
    background: var(--main-white-background);
    margin: 0 auto;
}

/* Required to make image fluid in IE */
.main-img:not(.png) {
    width: 100%;
}

.main-img {
    padding-top: 3rem;
}

/* ----------ABOUT---------- */
.about {
    background-color: var(--main-black-background);
    grid-area: about;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 0.5fr, 0.5fr, 0.5fr, 1fr, 1fr, 1fr, 1fr, 0.5fr;
    grid-template-rows: 0.5fr, 1fr, 0.5fr, 1fr, 1fr, 1fr, 0.5fr;
    grid-template-areas:
        ". h . . . . . ."
        ". h . . . . . ."
        ". h . s . . . ."
        ". h . bd bd bd bd ."
        ". h . . . . . ."
        ". h . . . bx bx ."
        ". h . . . . . .";

    overflow: hidden;
}

.about-header {
    color: var(--text-white);
    font-family: var(--main-font);
    font-weight: 400;
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-self: center;
    padding: 2em;
    grid-area: h;
}

.about-subheading {
    color: var(--text-white);
    font-size: 1.2em;
    font-family: var(--main-font);
    font-weight: 400;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    grid-area: s;
}

.about-body {
    color: var(--text-white);
    font-family: var(--main-font);
    font-weight: 400;
    padding-right: 2em;
    padding-bottom: 1em;
    grid-area: bd;
}

.about-box {
    color: var(--text-white);
    border: 3px solid #FFFBFE;
    font-family: var(--main-font);
    font-weight: 400;
    margin-right: 2em;
    margin-bottom: 1em;
    padding: 0.2em;
    grid-area: bx;
}

/* ----------PROJECTS---------- */
.projects {
    grid-area: projects;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-white-background);
    display: grid;
    grid-template-columns: 0.5fr, 2fr, 1fr, 0.5fr;
    grid-template-rows: 0.5fr, 1fr, 1fr, 1fr, 1fr, 0.5fr;
    grid-template-areas:
        ". . . ."
        ". . pc ."
        ". p1 . ."
        ". p2 . ."
        ". p3 . ."
        ". . . .";
}

.projects-heading-container {
    grid-area: pc;
    padding-right: 2em;
    padding-top: 2em;
}

.project1 {
    grid-area: p1;
    border-left: 0.8em solid #FF525A;
    margin-left: 2em;
    margin-bottom: 3em;
    margin-top: 1em;
    padding-left: 0.2em;
}

.project2 {
    grid-area: p2;
    border-left: 0.8em solid #FF525A;
    margin-left: 2em;
    margin-bottom: 3em;
    padding-left: 0.2em;
}

.project3 {
    grid-area: p3;
    border-left: 0.8em solid #FF525A;
    margin-left: 2em;
    margin-bottom: 2em;
    padding-left: 0.2em;
}

.projects-heading {
    width: 327px;
    background: var(--main-white-background);
}

/* ----------SKILLS---------- */
.skills {
    grid-area: skills;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-black-background);
    display: grid;
    grid-template-columns: 125px 0.3fr 1fr 0.5fr 1fr 1fr;
    grid-template-rows: 0.8fr 1fr 1fr 0.5fr 125px;
    grid-template-areas:
        "rs . h h h ."
        "rs . f . b ."
        "rs . f . s ."
        "rs . . . . ."
        "rs rb rb rb rb rb";
}

.skills-heading {
    grid-area: h;
    color: var(--text-white);
    padding-top: 2em;
}

.skills-front {
    grid-area: f;
    color: var(--text-white);
}

.skills-back {
    grid-area: b;
    color: var(--text-white);
    justify-self: end;
}

.square {
    grid-area: s;
    width: 150px;
    height: 150px;
    background-color: var(--main-white-background);
    justify-self: end;
}

.rectangle-side {
    grid-area: rs;
    margin: 0;
    background-color: var(--main-white-background);
}

.rectangle-bottom {
    grid-area: rb;
    margin: 0;
    background-color: var(--main-white-background);
}

/* ----------CONTACT---------- */
.contact {
    grid-area: contact;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--main-white-background);
    display: grid;
    grid-template-columns: 1fr 0.5fr max-content 1fr max-content 1fr 1.5fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: 
        ". . . . . . ."
        ". h cf cf cf cf ."
        ". . li . gh cp ."
        ". . . . . . .";
}


.contact-form {
    grid-area: cf;
    display: flex;
    flex-direction: row;
    width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 48%;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

.msg textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c5ecfd;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #c5ecfd;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #c5ecfd;
}

.btn {
    background: #ffa42d;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .contact-form {
        flex-direction: column;
        width: 250px;
    }

    .msg textarea {
        height: 80px;
    }

    .input-fields,
    .msg {
        width: 100%;
    }
}

.contact-heading {
    grid-area: h;
    writing-mode: vertical-lr;
    transform: rotate(180deg); 
    align-self: center;
}

.linkdin-container {
    grid-area: li;
    width: 4em;
    padding-top: 2em;
}

.github-container {
    grid-area: gh;
    width: 4em;
    justify-self: end;
    padding-top: 2em;
}

.codepen-container {
    grid-area: cp;
    width: 4em;
    justify-self: end;
    padding-top: 2em;
}

.linkdin-img:hover, 
.github-img:hover, 
.codepen-img:hover {
    transform: scale(1.3);
    transition: .25s ease-in;
}